:root {
    --color: rgb(163, 83, 107);
    --tcolor: white;
    --tsize: 34px;
    --dsize: 25px;
    --bcolor : rgb(255, 237, 237);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 98.75vw;
    background-color: var(--bcolor);
}

.navbar {
    display: flex;
    align-items: center;
    background-color: var(--color);
    padding: 0% 2%;
    height: 50px;
}

.navbar > h1 {
    color: var(--tcolor);
}

.navbar > .menu {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: end;
}

.navbar>.menu>li {
    margin: 15px 2%;
}

.navbar>.menu>li>a {
    text-decoration: none;
    color: var(--tcolor);
    font-size: var(--dsize);
}

.navbar>.menu>li>a::after {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    transition: width 0.4s;
    background-color: var(--tcolor);
    border-radius: 20px;
}

.navbar>.menu>li>a:hover::after,.navbar>.menu>li>a:focus::after,.navbar>.menu>li>a:active::after {
    width: 100%;
}

.navbar>img {
    height: 40px;
    position: sticky;
    left: 90%;
    top: 0%;
}

.show {
    display: flex;
}

.hide {
    display: none;
}





.intro {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 34px;
    padding: 0% 1%;
}

.intro>.info {
    flex-shrink: 2;
    padding: 0px 5px;
}

.intro>.info>.title {
    color: var(--color);
    font-weight: bold;
    font-size: var(--tsize);
    margin: .5%;
}

.intro>.info>.desc {
    font-size: var(--dsize);
    margin: .5%;
    color: rgb(95, 95, 95);
}

.intro>.info>a>img{
    height: 30px;
    margin: 5px;
    border-radius: 5px;
    transition: transform 0.4s;
}

.intro>.info>a>img:hover,.intro>.info>a>img:focus,.intro>.info>a>img:focus{
    transform: translateY(-5px);
    box-shadow: 0px 0px 10px var(--color);
}

.intro>.photo {
    height: 100%;
    flex-shrink: 1;
    border-radius: 50%;
    box-shadow: 0px 0px 20px var(--color);
    background-color: var(--bcolor);
    overflow: hidden;
    transition: transform 0.4s;
}

.intro>.photo:hover,.intro>.photo:focus{
    transform: scale(1.05   );
    box-shadow: 0px 0px 30px var(--color);
}

.intro>.photo>img {
    height: 100%;
    width: 100%;
}

h1{
    font-size: var(--tsize);
    color: var(--color);
    text-align: center;
    margin: 2% 0%;
    font-weight: bolder;
    text-shadow: 0px 0px 3px var(--color);
    font-family: Arial, Helvetica, sans-serif;
}

.skill{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.skill > .box{
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 350px;
    display: inline-block;
    transition: transform 0.4s;
    box-shadow: 0px 0px 15px gray;
}

.skill > .box:hover,.skill > .box:focus{
    box-shadow: 0px 0px 15px var(--color);
    transform: translateY(-7px);
}

.skill > .box > .title{
    font-size: var(--dsize);
    color: var(--color);
    font-weight: bold;
    text-align: center;
}


.project{
    padding: 10px;
}

.project > .box{
    border-radius: 10px;
    padding: 10px;
    margin: 2% 0%;
    transition: transform 0.4s;
    box-shadow: 0px 0px 15px gray;
    
}

.project > .box:hover,.project > .box:focus{
    transform: translateY(-7px);
    box-shadow: 0px 0px 15px var(--color);
}

.project > .box > .title{
    font-size: var(--dsize);
    color: var(--color);
    font-weight: bold;
}

.project > .box > .desc{
    font-size: 15px;
    color: rgb(95, 95, 95);
    margin: 5px 0px;
}

.project > .box > button{
    background-color: var(--color);
    padding: 8px;
    margin: 5px 0px;
    border: none;
    border-radius: 10px;
    transition: transform 0.3s;
    border: 2px solid white;
}

.project > .box > button:hover,.project > .box > button:focus{
    box-shadow: 0px 0px 10px var(--color);
    transform: translateY(-3px);
}

.project > .box > button > a{
    color: var(--tcolor);
    text-decoration: none;
    font-size: 17px;
}

.certificate{
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.certificate > .box{
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
    transition: transform 0.4s;
    overflow: hidden;
    box-shadow: 0px 0px 15px black;

}

.certificate > .box > img{
    height: 100%;
    width: 100%;
}

.certificate > .box::before{
    content: "Download";
    position: absolute;
    top: -100%;
    height: 100%;
    width: 100%;
    background-color: var(--color);
    left: 0%;
    transition: top 0.3s;
    font-size: var(--dsize);
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-weight: bold;
    opacity: .9;
}

.certificate > .box:hover,.certificate > .box:focus{
    box-shadow: 0px 0px 15px var(--color);
    transform: translateY(-10px);
}

.certificate > .box:hover::before,.certificate > .box:focus::before{
    top: -80%;
}


.contact{
    display: flex;
    align-items: center;
    justify-content: center;

}

.contact > form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.contact > form > input,textarea{
    margin: 10px 0px;
    width: 250px;
    font-size: 20px;
    color: var(--color);
    outline: none;
    border-radius: 10px;
    border: 2px solid var(--color);
    padding: 0px 3px;
    background-color: var(--bcolor);;
}

.contact > form > input:focus,textarea:focus{
    border: 2px solid var(--color);
    box-shadow: 0px 0px 10px var(--color);
}

.contact > form > .success{
    color: green;
    font-size: var(--dsize);
    margin: 10px 0px;
}

.contact > form > textarea{
    resize: none;
}

.contact > form > button{
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--color);
    color: var(--tcolor);
    margin-bottom: 20px;
    transition: transform 0.4s;
}

.contact > form > button:hover,.contact > form > button:focus{
    box-shadow: 0px 0px 15px var(--color);
    transform: translateY(-7px);
}

.footer{
    background-color: var(--color);
    text-align: center;
    padding: 5px;
    font-size: var(--dsize);
    color: var(--tcolor);
}

@media (min-width : 700px) {
    .navbar>img {
        display: none;
    }
}

@media (max-width : 780px) {
    .skill{
        justify-content: center;
    }
}

@media (max-width : 700px) {
    :root {
        --tsize: 25px;
        --dsize: 20px;
    }

    .navbar > #menuItem {
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0px;
        display: none;
        background-color: var(--color);
        z-index: 1;
    }


    .intro {
        margin-top: 10px;
    }

    .intro>.photo {
        height: 70%;
    }

   
}

@media (max-width : 380px) {

    :root {
        --tsize: 20px;
        --dsize: 15px;
    }
}