:root{
    --fcolor : white;
    --bcolor : rgb(61, 61, 61);
    --fsize : 1.4rem;
    --fstyle : lucida sans;
    --tcolor : aqua;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--fstyle);
    scroll-behavior: smooth;
    color: white;
}

body{
    background: radial-gradient(rgb(116, 116, 116) ,black);    
}

#heading{
    color: var(--tcolor);
    margin-top: 30px;
    text-decoration: underline;
    font-size: 1.8rem;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.navbar{
    font-size: var(--fsize);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: bold;
    padding: 20px 15px;
}

.navbar > a{
    color: var(--fcolor);
    text-decoration: none;
    margin: 0% 3%;
}

.navbar > a::after{
    content: "";
    display: block;
    height: 5px;
    width: 0%;
    transition: width 0.5s;
    background-color: var(--tcolor);
    border-radius: 20px;
}

.navbar > a:hover::after
{
    width: 100%;
}

@keyframes width {
    100%{
    }
}

.navbar > a:hover,.navbar > a:active{
    color: var(--tcolor);
}

.intro{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2% 0%;
}

.intro > #detail{
    width: 50%;
    height: 75vh;
}

#detail > #firstpara{
    color: var(--tcolor);
    font-weight: bold;
    font-size: 2rem;
    width: 90%;
}

#detail > #secondpara{
    font-size: var(--fsize);
    width: 90%;
}

#detail > .img{
    width: 90%;
    margin: 2% 0%;
}

.img > a{
    text-decoration: none;
}

.img > a > img{
    width: 8%;
    margin: 2%;
    border-radius: 15px;
    background-color: var(--tcolor);
    transition: transform 0.3s;
}

.img > a > img:hover,.img > a > img:active,.img > a > img:focus{
    box-shadow: 0px 0px 10px var(--tcolor);
    transform: translateY(-10px);
}

.intro > #image{
    width: 400px;
    height: 400px;
}

#image > #uimage{
    width: 90%;
    height: 75vh;
    border-radius: 50%;
    animation: border 2s infinite linear;
}

@keyframes border {
    0%,100%{
        box-shadow: 0px 0px 20px var(--tcolor);
    }
    50%{
        box-shadow: 0px 0px 10px var(--tcolor);
    }
}

.about{
    padding: 1%;
    color: var(--fcolor);
}

.about > #title{
    margin: 1% 0%;
}

.about > .container{
    flex-direction: row;
    width: 100%;
}

.about > .container > .box{
    padding: 20px;
    height: 170px;
    width: 250px; 
    display: inline-block;
    margin: 3%;
    font-size: var(--fsize);
    border-radius: 20px;
    background-color: rgb(51, 51, 51);
    border: 3px solid var(--tcolor);
    transition: transform .3s;
}

.container > .box:hover,.container > .box:focus,.container > .box:active{
    box-shadow: 0px 0px 10px var(--tcolor);
    transform: translateY(-15px);
    background-color: rgb(98, 99, 99);
}

.box > .title{
    font-size: var(--fsize);
    font-weight: bold;
    margin-bottom: 5%;
}

.box > .desc{
    font-size: var(--fsize);
}

.project{
    padding: 0% 2%;
}

.project > .card{
    border: 2px solid var(--tcolor);
    border-radius: 20px;
    margin: 2% 0%;
    padding: 1%;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.171);
    transition: transform 0.3s;
}

.project > .card:hover,.project > .card:focus,.project > .card:active{
    box-shadow: 0px 0px 15px var(--tcolor);
    transform: translateY(-10px);
}

.card > img{
    width: 10%;
    display: inline-block;
    border-radius: 20px;
}

.card > .info{
    width: 89%;
    display: inline-block;
    padding: 1%;
}

.info > .title{
    font-size: var(--fsize);
    padding: 1% 0%;
}

.info > p{
    font-size: var(--fsize);
}

.info > button{
    padding: 0.5%;
    background: transparent;
    margin: 1% 0%;
    border-radius: 10px;
    border: 2px solid black;
}

.info > button:hover,.info > button:active,.info > button:focus,.info > button > a:hover,.info > button > a:active,.info > button > a:focus{
    background-color: var(--tcolor);
    color: black;
    box-shadow: 0px 0px 10px var(--tcolor);
    border:  none;
}

.info > button > a{
    text-decoration: none;
    font-size: var(--fsize);
} 

.contact{
    flex-direction: column;
    border-radius: 20px;
}

form{
    margin: 2% 0%;
    font-size: var(--fsize);
    flex-direction: column;
}


form > input{
    border: none;
    font-size: var(--fsize);
    background-color: rgb(24, 23, 23);
    margin: 3% 0%;
    padding: 2%;
}

form > input:focus{
    outline: none;
    box-shadow: 0px 0px 5px var(--tcolor);
}

form > .success{
    color: rgb(86, 250, 86);
    margin: 2% 0%;
}

form > #submit{
    padding: 2%;
    border-radius: 10px;
    background: transparent;
    font-size: var(--fsize);
    margin: 1% 0%;
}

form > #submit:hover,form > #submit:active{
    background-color: var(--tcolor);
    box-shadow: 0px 0px 10px var(--tcolor);
    color: black;
    border: none;
}

form > input::placeholder{
    font-size: var(--fsize);
}

@media(max-width : 1350px){

    :root{
        --fsize : 1rem;
    }
}

@media(max-width : 950px){

    :root{
        --fsize : 0.7rem;
    }
}

@media(max-width : 730px){

    :root{
        --fsize : 0.8rem;
    }

    .intro > #image{
        width: 300px;
        height: 300px;
    }
}

@media(max-width : 535px){

    :root{
        --fsize : 0.7rem;
    }

    .intro > #image{
        width: 200px;
        height: 200px;
    }

    #detail > #firstpara,#heading{
        font-size: 1.3rem;
    }

    .intro{
        height: 60vh;
    }

    .img > a > img{
        height: 30px;
        width: 30px;
    }
}

@media(max-width : 350px){
    #detail > #firstpara,#heading{
        font-size: 1.1rem;
    }

    .intro{
        height: 45vh;
    }

    .img > a > img{
        height: 20px;
        width: 20px;
    }
}
