@import "tailwindcss";

/* styles/globals.css */

:root {
  --bg: #0f172a;
  --text: #f8fafc;
  --hover: #343c52;
  --bgurl: url('/public/images/background-dark.webp');
}

.light-theme {
  --bg: #ffffff;
  --text: #000000;
  --hover: #b1a8a8;
  --bgurl: url('/public/images/background-light.webp');
}

body {
  /* font-family: sans-serif ; */
  background: linear-gradient(to bottom right, #184174, #16213e, #184174);
}

main {
  /* background: var(--bgurl) no-repeat center center fixed;
  background-color: var(--bg);
  background-size: cover; */
  background: linear-gradient(to bottom right, #e27458, #4c5772, #855144);
}

/* Add this to your global CSS file (e.g., styles/globals.css) */

.falling-character {
  position: absolute;
  top: -10vh;
  color: green; /* Green color for the hacker effect */
  animation: fall linear infinite;
}

@keyframes fall {
  0% {
    top: -10vh;
  }
  100% {
    top: 100vh;
  }
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(117, 117, 117, 0.6);
  /* Light gray thumb */
  border-radius: 10px;
  border: 2px solid transparent;
  /* creates padding around thumb */
  background-clip: content-box;
}