:root{
    --background-color: #0a283b;
    --text-color: #fff;
    --primary-color: #b82961;
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #0a283b;
}

::-webkit-scrollbar-thumb {
    background: #b72860;
}